@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
        url('../../public/images/background2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;} */

